.card {
    &.card-simple {
        border: none;
        border-radius: 7px;
        box-shadow: -1px 3px 10px 0 rgb(29 70 102 / 22%);
        width: 245px;
        color: $secondary;
    
        .card-img-top {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            object-fit: cover;
            height: 154px;
        }
    
        .card-body {
            position: relative;
            height: 175px;
            padding: 0.8rem 0.9rem;
            font-size: 0.875rem;
    
            .card-content-price {
                position: absolute;
                bottom: 12px;
    
                .card-sale-price {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
    
    &.card-resume {
        background-color: $gray-200;
        border-radius: 10px;
        color: $gray-400;
        border: none;
    
        .card-header {
            padding: 20px;
            background: none;
            border: none;

            h3 {
                color: $gray-400;
                font-family: $font-family-root;
                font-size: 1.5rem;
            }
        }

        .card-body {
            padding: 4px 20px 20px;

            .card-total {
                font-size: 22px;
                font-weight: 600;
            }

            .btn {
                padding: 0.9rem 1rem;
            }
        }
    }
}
