.quantity-form {
    position: relative;
    top: 3.5px;
    
    .quantity {
        border: none;
        background: $gray-300;
        padding: 0.5rem;
        text-align: center;
        width: 44px;
        font-size: 1.375rem;
        color: $gray-400;
    }

    .box-minus,
    .box-plus {
        border: none;
        background: $gray-300;
        color: $gray-400;
        padding: 0.5rem;
        font-size: 1.375rem;
        position: relative;
    }

    .box-minus {
        left: 6px;
        top: 0px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        padding-left: 0.875rem;
    }

    .box-plus {
        right: 6px;
        top: 0px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        padding-right: 0.875rem;
    }
}

.shipping-form {
    i {
        position: absolute;
        left: 268px;
        top: 20px;
        color: rgb(50 49 54 / 82%);
    }

    input {
        padding: 0.95rem 0;
        padding-left: 300px;
        display: inline-block;
        width: 100%;
        border: 1px solid rgba(50, 49, 54, 0.2);
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;

        &:focus {
            border-color: $gray-400;
        }
    }

    label {
        position: absolute;
        font-size: 1rem;
        top: 16.9px;
        left: 0;
        background: none;
        padding: 0;
        color: rgb(50 49 54 / 82%);
        border: none;
        font-weight: 500;
        border: none;
        border-radius: 0;
        padding-right: 16px;
        border-right: 1px solid #77777757;
        cursor: default;

        &:hover {
            color: rgb(50 49 54 / 82%);
        }
    }
}

.shipping-cart {
    i {
        position: absolute;
        left: 20px;
        top: 52px;
        color: #777777;
    }

    input {
        background: rgb(255 255 255 / 73%);
        margin: 10px 0 0;
        padding: 0.85rem 0;
        padding-left: 54px;
        border: none;
        border-radius: 5px;
    }
}