.quantity-form {
    position: relative;
    top: 3.5px;
    
    .quantity {
        border: none;
        background: $gray-300;
        padding: 0.5rem;
        text-align: center;
        width: 44px;
        font-size: 1.375rem;
        color: $gray-400;
    }

    .box-minus,
    .box-plus {
        border: none;
        background: $gray-300;
        color: $gray-400;
        padding: 0.5rem;
        font-size: 1.375rem;
        position: relative;
    }

    .box-minus {
        left: 6px;
        top: 0px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        padding-left: 0.875rem;
    }

    .box-plus {
        right: 6px;
        top: 0px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        padding-right: 0.875rem;
    }
}

.shipping-form {
    i {
        position: absolute;
        left: 268px;
        top: 20px;
        color: rgb(50 49 54 / 82%);
    }

    input {
        padding: 0.95rem 0;
        padding-left: 300px;
        display: inline-block;
        width: 100%;
        border: 1px solid rgba(50, 49, 54, 0.2);
        border-left: none;
        border-right: none;
        border-top: none;

        &:focus {
            border-color: $gray-400;
        }
    }

    label {
        position: absolute;
        font-size: 1rem;
        top: 16.9px;
        left: 0;
        background: none;
        padding: 0;
        color: rgb(50 49 54 / 82%);
        border: none;
        font-weight: 500;
        border: none;
        border-radius: 0;
        padding-right: 16px;
        border-right: 1px solid #77777757;
        cursor: default;

        &:hover {
            color: rgb(50 49 54 / 82%);
        }
    }
}

.shipping-cart {
    i {
        position: absolute;
        left: 20px;
        top: 52px;
        color: #777777;
    }

    input {
        background: rgb(255 255 255 / 73%);
        margin: 10px 0 0;
        padding: 0.85rem 0;
        padding-left: 54px;
        border: none;
        border-radius: 5px;
    }
}

.credit-card-form {
    .form-control {
        height: 46px;
        border-radius: 0.35rem;
    }

    &.was-validated {
        .form-control {
            &:valid,
            &.valid {
                background-image: url(../images/check.svg);
                background-size: 18px;
                background-position: right calc(0.775em + 0.1875rem) center;
                border-color: $green;

                &:focus {
                    border-color: $green;
                }

                &.number {
                    background-position: right calc(4.375em + 0.1875rem) center;
                }
                
                &.security-code {
                    background-position: right calc(4.375em + 0.1875rem) center;
                }
            } 

            &:invalid,
            &.invalid {
                background-image: url(../images/exclamation.svg);
                background-size: 18px;
                background-position: right calc(0.575em + 0.1875rem) center;
                border-color: $red-alt;

                &:focus {
                    border-color: $red-alt;
                }

                &.number {
                    background-position: right calc(0.575em + 0.1875rem) center;
                }

                &.security-code {
                    background-position: right calc(0.575em + 0.1875rem) center;
                }
            }
        }

        .form-select {
            &:valid {
                background-image: url(../images/arrow-down.svg), url(../images/check.svg);
                background-position: right 0.75rem center, center right 2.25rem;
                background-size: 16px 12px, 18px;
                border-color: $green;
            }

            &:invalid {
                background-image: url(../images/arrow-down.svg), url(../images/exclamation.svg);
                background-size: 18px;
                background-position: right 0.75rem center, center right 2.25rem;
                border-color: $red-alt;
            }
        }

        .invalid-feedback {
            color: $red-alt;

            &.invalid-number {
                display: block;
            }
        }
    } 

    .credit-cards {
        position: absolute;
        top: 35px;
        right: 8px;

        .credit-card {
            width: 50px;
            height: auto;
            border-radius: 2px;
            display: none;
            
            path {
                fill: $green-200;
            }

            &.hipercard {
                .hipercard-color {
                    fill: $white;
                }
            }

            &.security-code {
                .security-code-bg {
                    fill: $green-200;
                }
            }
        }
    }
}

