h2 {
    font-size: 1.8rem;
    color: $primary;
}

.h1 {
    font-size: 1.7rem;
    line-height: 1.4;
    color: $gray-900;
}

.h2 {
    color: $primary;
    font-family: $font-family-root;
    font-size: 30px;
    margin: 20px 0px 10px;
}

.font-size-md {
    font-size: 1.05rem;
}