.icon-letter {
    background: $green-200;
    color: $white;
    border-radius: 14px;
    text-align: center;
    margin-right: 13px;

    &-md {
        height: 40px;
        width: 40px;
        font-size: 23px;
        line-height: 40px;
    }

    &-lg {
        background: rgb(255 255 255 / 10%);
        height: 100px;
        width: 100px;
        font-size: 67px;
        line-height: 100px;
        display: inline-block;
        margin: 0;
    }
}