// Typography
$font-family-root: 'Rubik', sans-serif;
$font-family-base: 'Work Sans', sans-serif;

$font-size-base: 1rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #732bff;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ffb22b;
$yellow: #ffe259;
$green: #2ea95a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #292e40;
$secondary: #172B4D;

//Grays
$gray-100: #f4f5f8;
$gray-200: #e3e7ed;
$gray-300: #EEEFF0;
$gray-400: #777777;
$gray-500: #97a3b9;
$gray-600: #dcdcdc;
$gray-700: #d8d8d8;
$gray-800: #3b4863;
$gray-900: #323136;


$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "gray": $gray-600,
    "gray-dark": $gray-800,
    "primary": $primary,
    "secondary": $secondary,
);